footer.footer
    .container
        .content.has-text-centered
            p
                | Proudly created and maintained by 
                em Alexandre ZANNI
                |  a.k.a 
                em
                    a(href='https://rawsec.ml/about/noraj/') noraj
                |  from 
                a(href='https://rawsec.ml/about/rawsec/') Rawsec
                | .
            p
                | This website is licensed under 
                a(href='http://mozilla.org/MPL/2.0/') Mozilla Public License 2.0
                | .
