title Rawsec's CyberSecurity Inventory
meta(charset='UTF-8')
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="description", content="An inventory of tools and resources about CyberSecurity")
meta(name="keywords", content="CyberSecurity,tools,resources,ctf")
meta(name="author", content="Alexandre ZANNI")
link(rel='stylesheet', href='css/vendor/bulma/bulma.css', type='text/css')
link(rel='stylesheet', href='css/vendor/fontawesome/css/all.min.css', type='text/css')
link(rel='stylesheet', href='css/vendor/font-mfizz/font-mfizz.css', type='text/css')
link(rel='stylesheet', href='css/site.css', type='text/css')
link(rel='shortcut icon', href='/docs/img/favicon/favicon.ico')
