.hero-head
    nav(role='navigation' aria-label='main navigation').navbar
        .container
            .navbar-brand
                a(href='http://list.rawsec.ml').navbar-item
                    img(src='https://rawsec.ml/logo5_50x40.png', alt='Rawsec logo')
            a(role='button' aria-label='menu' aria-expanded='false').navbar-burger
                span(aria-hidden='true')
                span(aria-hidden='true')
                span(aria-hidden='true')
            .navbar-menu
                .navbar-end
                    a(href='index.html').navbar-item Home
                    a(href='contribute.html').navbar-item Contribute
                    a(href='about.html').navbar-item About
                    a(href='https://rawsec.ml').navbar-item Rawsec
                    div.navbar-item
                        a(href='https://gitlab.com/noraj/rawsec-cybersecurity-list').button.is-dark.is-inverted
                            span.icon
                                i.fab.fa-gitlab
                            span Download
