.hero-head
    header.nav
        .container
            .nav-left
                a.nav-item
                    img(src='https://rawsec.ml/logo5_50x40.png', alt='Rawsec logo')
            span.nav-toggle
                span
                span
                span
            .nav-right.nav-menu
                a(href='index.html').nav-item Home
                a(href='contribute.html').nav-item Contribute
                a(href='about.html').nav-item About
                span.nav-item
                    a.button.is-dark.is-inverted
                        span.icon
                            i.fa.fa-github
                        span Download
