.hero-head
    nav(role='navigation' aria-label='main navigation').navbar
        .container
            .navbar-brand
                a(href='https://inventory.raw.pm/').navbar-item
                    img(src='/docs/img/logo5_50x40.png', alt='Rawsec logo')
                a(role='button' aria-label='menu' aria-expanded='false').navbar-burger.has-text-link
                    span(aria-hidden='true')
                    span(aria-hidden='true')
                    span(aria-hidden='true')
            .navbar-menu
                .navbar-end
                    a(href='index.html').navbar-item.has-text-white
                        span.icon
                            i.fas.fa-search
                        span Search
                    .navbar-item.has-dropdown.is-hoverable
                        a.navbar-link.has-text-white.has-background-dark
                            span.icon
                                i.fab.fa-buffer
                            span Overview & Tables
                        .navbar-dropdown.has-background-dark.has-text-white
                            a.navbar-item(href='overview.html') Overview
                            a.navbar-item(href='tools.html') Tools
                            a.navbar-item(href='resources.html') Resources
                            a.navbar-item(href='ctf_platforms.html') CTF platforms
                            a.navbar-item(href='operating_systems.html') Operating Systems
                        // !!!!!!!!!!!!! temporary fix by adding background and font color
                        // !!!!!!!!!!!!! https://github.com/jgthms/bulma/issues/3098
                    a(href='features.html').navbar-item.has-text-white
                        span.icon
                            i.fas.fa-star
                        span Features
                    a(href='docs/', target='_blank', rel='noopener noreferrer').navbar-item.has-text-white
                        span.icon
                            i.fas.fa-book
                        span Documentation
                    a(href='submit.html').navbar-item.has-text-white
                        span.icon
                            i.fas.fa-chevron-circle-up
                        span Submit
                    a(href='about.html').navbar-item.has-text-white
                        span.icon
                            i.fas.fa-info-circle
                        span About
                    .navbar-item.has-dropdown.is-hoverable
                        a.navbar-link.has-text-white.has-background-dark
                            span.icon
                                i.fas.fa-ellipsis-h
                        .navbar-dropdown.has-background-dark.has-text-white
                            a.navbar-item(href='https://blog.raw.pm/') Blog
                            a.navbar-item(href='https://writeup.raw.pm/') Write-Up Factory
                            a.navbar-item(href='https://blog.raw.pm/domains/') Domains
                            a.navbar-item(href='https://pwn.by/noraj/') noraj
                        // !!!!!!!!!!!!! temporary fix by adding background and font color
                        // !!!!!!!!!!!!! https://github.com/jgthms/bulma/issues/3098
                    a(href='https://gitlab.com/rawsec/rawsec-cybersecurity-list' title='rawsec inventory gitlab repository').navbar-item
                        span.icon
                            i.fab.fa-gitlab
                    a(href='https://github.com/noraj/rawsec-cybersecurity-inventory' title='rawsec inventory github mirror repository').navbar-item
                        span.icon
                            i.fab.fa-github-alt
                    a(href='https://twitter.com/rawsec_cyber' title='rawsec twitter').navbar-item
                        span.icon
                            i.fab.fa-twitter
                    a(href='https://twitter.com/RawsecBot' title='rawsec inventory bot twitter').navbar-item
                        span.icon
                            i.fab.fa-twitter
                    a(href='https://discord.gg/xvTb2vx' title='rawsec discord').navbar-item
                        span.icon
                            i.fab.fa-discord
                    a(href='https://www.reddit.com/r/Rawsec' title='rawsec reddit').navbar-item
                        span.icon
                            i.fab.fa-reddit-alien
