.hero-head
    nav(role='navigation' aria-label='main navigation').navbar
        .container
            .navbar-brand
                a(href='http://list.rawsec.ml').navbar-item
                    img(src='https://rawsec.ml/logo5_50x40.png', alt='Rawsec logo')
            a(role='button' aria-label='menu' aria-expanded='false').navbar-burger
                span(aria-hidden='true')
                span(aria-hidden='true')
                span(aria-hidden='true')
            .navbar-menu
                .navbar-end
                    div.navbar-item
                        a(href='index.html').has-text-white
                            span.icon
                                i.fas.fa-home
                            span Home
                    div.navbar-item
                        a(href='features.html').has-text-white
                            span.icon
                                i.fas.fa-star
                            span Features
                    div.navbar-item
                        a(href='contribute.html').has-text-white
                            span.icon
                                i.fas.fa-hands-helping
                            span Contribute
                    div.navbar-item
                        a(href='about.html').has-text-white
                            span.icon
                                i.fas.fa-info-circle
                            span About
                    a(href='https://rawsec.ml').navbar-item Rawsec
                    a(href='https://gitlab.com/noraj/rawsec-cybersecurity-list').navbar-item.is-dark
                        span.icon
                            i.fab.fa-gitlab
                    a(href='https://github.com/noraj/rawsec-cybersecurity-inventory').navbar-item.is-dark
                        span.icon
                            i.fab.fa-github-alt
                    a(href='https://twitter.com/rawsec_cyber').navbar-item.is-dark
                        span.icon
                            i.fab.fa-twitter
