.hero-foot
    nav.tabs.is-boxed.is-fullwidth
        .container
            ul
                li
                    a(href='index.html') Overview
                li
                    a(href='tools.html') Tools
                li
                    a(href='resources.html') Resources
                li
                    a(href='ctf_platforms.html') CTF platforms
                li
                    a(href='operating_systems.html') Operating Systems
