// TableFilter lib
script(src='js/vendor/tablefilter/tablefilter.js')
// Jquery lib
script(src='js/vendor/jquery/jquery.min.js')
// TableFilter base config for all tables
script(src='js/tablefilter/base_config.js')
// SweetAlert2 lib
script(src='js/vendor/sweetalert2/sweetalert2.all.min.js')
// SweetAlert2 script
script(src='js/sweetalert2.js')
