ul
    li
        a(href='#title-ctf-platforms') CTF platforms
    ul
        li
            a(href='#title-ctf-platforms-attack-defense') Attack-Defense
        li
            a(href='#title-ctf-platforms-hybrid') Hybrid
        li
            a(href='#title-ctf-platforms-jeopardy') Jeopardy
