.buttons
    a(href='#title-operating-systems-maintained').button.is-primary.is-outlined Maintained
    a(href='#title-operating-systems-no-more-maintained').button.is-primary.is-outlined No more maintained
    a(href='#title-operating-systems-project-transferred').button.is-primary.is-outlined Project transferred
