.buttons
    a(href='#title-resources-challenges-platforms').button.is-primary.is-outlined Challenges platform
    a(href='#title-resources-cve').button.is-primary.is-outlined CVE
    a(href='#title-resources-events').button.is-primary.is-outlined Events
    a(href='#title-resources-information').button.is-primary.is-outlined Information
    a(href='#title-resources-knowledge-and-tools').button.is-primary.is-outlined Knowledge and tools
    a(href='#title-resources-national-security-agencies-and-services').button.is-primary.is-outlined National security agencies and services
    a(href='#title-resources-non-english').button.is-primary.is-outlined Non english
    a(href='#title-resources-trainings-and-courses').button.is-primary.is-outlined Trainings and courses
    a(href='#title-resources-tutorials').button.is-primary.is-outlined Tutorials
    a(href='#title-resources-writeups-collections-and-challenges-source').button.is-primary.is-outlined Writeups collections and challenges source
