ul
    li
        a(href='#title-resources') Resources
    ul
        li
            a(href='#title-resources-cve') CVE
        li
            a(href='#title-resources-events') Events
        li
            a(href='#title-resources-information') Information
        li
            a(href='#title-resources-knowledge-and-tools') Knowledge and tools
        li
            a(href='#title-resources-challenges-platforms') Challenges platform
        li
            a(href='#title-resources-non-english') Non english
        li
            a(href='#title-resources-trainings-and-courses') Trainings and courses
        li
            a(href='#title-resources-tutorials') Tutorials
        li
            a(href='#title-resources-writeups-collections-and-challenges-source') Writeups collections and challenges source
