ul
    li
        a(href='#title-tools') Tools
    ul
        li
            a(href='#title-tools-binary-exploitation') Binary Exploitation
        li
            a(href='#title-tools-code-analysis') Code Analysis
        li
            a(href='#title-tools-collaboration-report') Collaboration and Report
        li
            a(href='#title-tools-cracking') Cracking
        li
            a(href='#title-tools-cryptography') Cryptography
        li
            a(href='#title-tools-digital-forensics') Digital Forensics
        li
            a(href='#title-tools-networking') Networking
        li
            a(href='#title-tools-osint') OSINT and Reconnaissance
        li
            a(href='#title-tools-other') Other
        li
            a(href='#title-tools-reverse-engineering') Reverse Engineering
        li
            a(href='#title-tools-steganography') Steganography
        li
            a(href='#title-tools-system-exploitation') System Exploitation
        li
            a(href='#title-tools-vulnerability-assessment') Vulnerability Assessment
        li
            a(href='#title-tools-web-application-exploitation') Web Application Exploitation
