.buttons
    a(href='#title-tools-binary-exploitation').button.is-primary.is-outlined Binary Exploitation
    a(href='#title-tools-bug-bounty').button.is-primary.is-outlined Bug Bounty
    a(href='#title-tools-cloud').button.is-primary.is-outlined Cloud
    a(href='#title-tools-code-analysis').button.is-primary.is-outlined Code Analysis
    a(href='#title-tools-collaboration-report').button.is-primary.is-outlined Collaboration and Report
    a(href='#title-tools-configuration-audit').button.is-primary.is-outlined Configuration audit
    a(href='#title-tools-cracking').button.is-primary.is-outlined Cracking
    a(href='#title-tools-cryptography').button.is-primary.is-outlined Cryptography
    a(href='#title-tools-digital-forensics').button.is-primary.is-outlined Digital Forensics
    a(href='#title-tools-honeypot-decoy').button.is-primary.is-outlined Honeypot and Decoy
    a(href='#title-tools-incident-response').button.is-primary.is-outlined Incident Response
    a(href='#title-tools-intentionally-vulnerable-applications').button.is-primary.is-outlined Intentionally Vulnerable Applications
    a(href='#title-tools-networking').button.is-primary.is-outlined Networking
    a(href='#title-tools-osint').button.is-primary.is-outlined OSINT and Reconnaissance
    a(href='#title-tools-other').button.is-primary.is-outlined Other
    a(href='#title-tools-plugins').button.is-primary.is-outlined Plugins
    a(href='#title-tools-red-teaming').button.is-primary.is-outlined Red Teaming
    a(href='#title-tools-reverse-engineering').button.is-primary.is-outlined Reverse Engineering
    a(href='#title-tools-steganography').button.is-primary.is-outlined Steganography
    a(href='#title-tools-system-exploitation').button.is-primary.is-outlined System Exploitation
    a(href='#title-tools-threat-intelligence').button.is-primary.is-outlined Threat Intelligence
    a(href='#title-tools-vulnerability-assessment').button.is-primary.is-outlined Vulnerability Assessment
    a(href='#title-tools-web-application-exploitation').button.is-primary.is-outlined Web Application Exploitation
    a(href='#title-tools-wireless').button.is-primary.is-outlined Wireless
