# Official framework image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/node/tags/
# https://hub.docker.com/_/ruby/tags
# https://hub.docker.com/r/oven/bun/tags

stages:
  - test
  - deploy

test:inventory:
  image: node:21
  stage: test
  script:
    - yarn global add gulp-cli
    - yarn install
    - yarn run build
  only:
    - merge_requests
  except:
    - master

test:doc:
  image: ruby:3.2
  stage: test
  script:
    - cd documentation
    - bundle install
    - bundle exec jekyll build
  only:
    - merge_requests
  except:
    - master

test:data:
  image: oven/bun:1.0.26
  stage: test
  script:
    - bun install
    - bun test
  only:
    - merge_requests
  except:
    - master

pages: # for Gitlab Pages this job must exactly be named `pages`
  image: node:21
  stage: deploy
  needs: ["pages:docs"]
  script:
    - yarn config set unsafe-perm true
    - yarn global --ignore-optional add gulp-cli netlify-cli
    - yarn install # inventory dependencies
    - yarn run build # build the inventory
    - cp -rT build/ public/ # copying the inventory
    - netlify deploy --site $NETLIFY_SITE_ID --auth $NETLIFY_AUTH_TOKEN --prod --dir public/
  artifacts:
    paths:
      - public
  only:
    - master

pages:docs:
  image: ruby:3.3
  stage: deploy
  script:
    - mkdir -p public/docs
    - cd documentation
    - bundle install # documentation dependencies
    - bundle exec jekyll build # build the documentation
    - cp -rT _site/ ../public/docs # copying the documentation
    - cd ..
  artifacts:
    paths:
      - public
  only:
    - master
