# Official framework image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/node/tags/
image: node:14

stages:
  - test
  - deploy

test:inventory:
  stage: test
  script:
    - npm install gulp-cli -g
    - npm install
    - gulp
  only:
    - merge_requests
  except:
    - master

test:doc:
  stage: test
  script:
    - cd docusaurus
    - npm install
    - npm run build
  only:
    - merge_requests
  except:
    - master

pages:
  stage: deploy
  script:
    - npm install gulp-cli netlify-cli -g --unsafe-perm=true
    - npm install # inventory dependencies
    - gulp # build the inventory
    - mkdir public
    - cp -rT build/ public/ # copying the inventory
    - cd docusaurus
    - npm install # documentation dependencies
    - npm run build # build the documentation
    - cp -rT build/ ../public # copying the documentation
    - cd ..
    - netlify deploy --site $NETLIFY_SITE_ID --auth $NETLIFY_AUTH_TOKEN --prod --dir public/
  artifacts:
    paths:
      - public
  only:
    - master
