include ../../mixins/ctf_platform.pug
table.table#ctf-platforms-hybrid
    thead
        tr
            th Name
            th Website
            th Source
            th Description
            th Programming language
            th Price
    tbody
        each platform in ctf_platforms.hybrid.ctf_platforms
            +ctf_platform(platform)
