doctype html
html(lang='en')
    head
        title Rawsec's CyberSecurity Inventory
        meta(charset='UTF-8')
        meta(name="description", content="A list of tools and resources about CyberSecurity")
        meta(name="keywords", content="CyberSecurity,tools,resources,ctf")
        meta(name="author", content="Alexandre ZANNI")
        link(rel='stylesheet', href='css/vendor/bulma/bulma.css', type='text/css')
        link(rel='stylesheet', href='css/vendor/font-awesome/css/font-awesome.min.css', type='text/css')
        link(rel='stylesheet', href='css/vendor/font-mfizz/font-mfizz.css', type='text/css')
    body
        //- Scripts
        include ../partials/scripts.pug

        //- Hero
        section.hero.is-medium.is-dark
            // Hero header: will stick at the top
            include ../partials/hero_head.pug
            // Hero content: will be in the middle
            include ../partials/hero_body.pug
            // Hero footer: will stick at the bottom
            block hero-foot
                include ../partials/hero_foot.pug

        //- Content
        block content
            section.section
                .container
                    h2.title.is-2 No content

        block font-mfizz
            //- No script by default

        //- Footer
        include ../partials/footer.pug
