doctype html
html(lang='en')
    head
        include ../partials/head.pug
    body
        //- Scripts
        include ../partials/scripts.pug

        //- Hero
        section.hero.is-fullheight.is-dark
            // Hero header: will stick at the top
            include ../partials/hero_head.pug
            .hero-body
                block content
                    .container.has-text-centered
                        h1.title Search

        block optional-script
            //- No script by default

        //- Footer
        include ../partials/footer.pug

        //- Back to top button
        button.button.is-medium.is-dark#backToTop(onclick="topFunction()" title="Go to top")
            span.icon
                i.fa.fa-rocket
