table.table#ctf-platforms-hybrid
    thead
        tr
            th Name
            th Website
            th Source
            th Description
            th Programming language
            th Price
    tbody
        tr
            td HBCTF
            td
                a(href='http://www.hackbama.com/ctf/') [Website]
            td
                a(href='https://github.com/osteth/HBCTF') [Source]
            td Hybrid CTF platform
            td Python
            td Free
