ul
  li
    strong iCTF Framework
    |  - 
    a(href='https://ictf.cs.ucsb.edu/') [Website]
    a(href='https://github.com/ucsb-seclab/ictf-framework') [Source]
    |  - CTF framework, written in python
