ul
  li
    strong ChallengeMe
    |  - 
    a(href='https://github.com/Querdos/ChallengeMe') [Source]
    |  - CTF platform, written in PHP
  li
    strong Christmas-CTF
    |  - 
    a(href='https://github.com/brian020305/Christmas-CTF') [Source]
    |  - CTF platform, based on OpenCTF, written in PHP
  li
    strong CTFd
    |  - 
    a(href='https://ctfd.io/') [Website]
    a(href='https://github.com/isislab/CTFd') [Source]
    |  - Easy to deploy CTF platform, written in Python
  li
    strong FBCTF
    |  - 
    a(href='https://code.facebook.com/projects/1693078620943322/fbctf/') [Website]
    a(href='https://github.com/facebook/fbctf') [Source]
    |  - Nice looking but heavy CTF platform, written in PHP
  li
    strong Google CTF Scoreboard
    |  - 
    a(href='https://github.com/google/ctfscoreboard') [Source]
    |  - CTF platform, written in Python
  li
    strong HackTheArch
    |  - 
    a(href='http://hta.mcpa-stl.org/') [Website]
    a(href='https://github.com/mcpa-stlouis/hack-the-arch') [Source]
    |  - CTF platform, using Ruby on Rails, has an official docker container
  li
    strong JS-CTF-Platform
    |  - 
    a(href='https://github.com/EasyCTF/JS-CTF-Platform') [Source]
    |  - CTF platform, written in JavaScript
  li
    strong Mellivora
    |  - 
    a(href='https://github.com/Nakiami/mellivora') [Source]
    |  - Fully featured CTF platform, written in PHP
  li
    strong MITRE CTF Scoreboard
    |  - 
    a(href='https://github.com/mitre-cyber-academy/registration-app') [Source]
    |  - CTF platform, written in Ruby
  li
    strong NightShade
    |  - 
    a(href='https://github.com/UnrealAkama/NightShade') [Source]
    |  - Simple CTF platform, written in Python
  li
    strong OpenCTF
    |  - 
    a(href='https://github.com/easyctf/openctf') [Source]
    |  - Easy to deploy CTF platform, written in Python, has an official docker container
  li
    strong PicoCTF Platform 2
    |  - 
    a(href='https://github.com/picoCTF/picoCTF-Platform-2') [Source]
    |  - CTF platform, written in Python
  li
    strong PoliCTF Server
    |  - 
    a(href='https://github.com/PoliCTF/polictf-server') [Source]
    |  - CTF platform, written in Cplusplus
  li
    strong RootTheBox
    |  - 
    a(href='http://root-the-box.com/') [Website]
    a(href='https://github.com/moloch--/RootTheBox') [Source]
    |  - CTF platform, written in Python
  li
    strong Scorebot
    |  - 
    a(href='https://github.com/legitbs/scorebot') [Source]
    |  - CTF platform, written in Ruby
  li
    strong SR-CTF
    |  - 
    a(href='http://tunablectf.com/') [Website]
    a(href='https://github.com/nsslab-yin/SRCTF') [Source]
    |  - CTF platform, written in Python
  li
    strong Themis Quals
    |  - 
    a(href='https://github.com/themis-project/themis-quals') [Source]
    |  - CTF platform using Virtualbox and Vagrant, written in Ruby
