table.table#ctf-platforms-jeopardy
    thead
        tr
            th Name
            th Website
            th Source
            th Description
            th Programming language
            th Price
    tbody
        tr
            td ChallengeMe
            td
            td
                a(href='https://github.com/Querdos/ChallengeMe') [Source]
            td CTF platform
            td PHP
            td Free
        tr
            td ColdCore
            td
            td
                a(href='https://github.com/IceCTF/ColdCore') [Source]
            td CTF platform, based on TJCTF platform, the new IceCTF platform
            td Python
            td Free
        tr
            td Christmas-CTF
            td
            td
                a(href='https://github.com/brian020305/Christmas-CTF') [Source]
            td CTF platform, based on OpenCTF
            td PHP
            td Free
        tr
            td CTFd
            td
                a(href='https://ctfd.io/') [Website]
            td
                a(href='https://github.com/isislab/CTFd') [Source]
            td Easy to deploy CTF platform
            td Python
            td Free
        tr
            td CTFlex
            td
            td
                a(href='https://github.com/PACTF/pactf') [Source]
            td CTF framework with some unique features
            td Python
            td Free
        tr
            td DC416-CTF-Scoreboard
            td
            td
                a(href='https://github.com/DC416/DC416-CTF-Scoreboard') [Source]
            td CTF platform
            td Elm
            td Free
        tr
            td FBCTF
            td
                a(href='https://code.facebook.com/projects/1693078620943322/fbctf/') [Website]
            td
                a(href='https://github.com/facebook/fbctf') [Source]
            td Nice looking but heavy CTF platform
            td PHP
            td Free
        tr
            td Google CTF Scoreboard
            td
            td
                a(href='https://github.com/google/ctfscoreboard') [Source]
            td CTF platform
            td Python
            td Free
        tr
            td HackTheArch
            td
                a(href='http://hta.mcpa-stl.org/') [Website]
            td
                a(href='https://github.com/mcpa-stlouis/hack-the-arch') [Source]
            td CTF platform, using Ruby on Rails, has an official docker container
            td Ruby
            td Free
        tr
            td IceCTF Platform
            td
            td
                a(href='https://github.com/IceCTF/ctf-platform') [Source]
            td CTF platform, based on PicoCTF Platform 2, the old IceCTF platform, now look for ColdCore
            td Python
            td Free
        tr
            td JS-CTF-Platform
            td
            td
                a(href='https://github.com/EasyCTF/JS-CTF-Platform') [Source]
            td CTF platform
            td JavaScript
            td Free
        tr
            td Mellivora
            td
            td
                a(href='https://github.com/Nakiami/mellivora') [Source]
            td Fully featured CTF platform
            td PHP
            td Free
        tr
            td MITRE CTF Scoreboard
            td
            td 
                a(href='https://github.com/mitre-cyber-academy/ctf-scoreboard') [Source]
            td Fully featured CTF platform
            td Ruby
            td Free
        tr
            td NightShade
            td
            td
                a(href='https://github.com/UnrealAkama/NightShade') [Source]
            td Simple CTF platform
            td Python
            td Free
        tr
            td NIZKCTF
            td
                a(href='https://arxiv.org/abs/1708.05844') [Website]
            td
                a(href='https://github.com/pwn2winctf/PTE') [Source]
            td A Non-Interactive Zero-Knowledge Capture the Flag Platform (
                a(href='https://github.com/pwn2winctf/nizkctf-tutorial') tutorial
                | )
            td Python
            td Free
        tr
            td OpenCTF
            td
            td
                a(href='https://github.com/easyctf/openctf') [Source]
            td Easy to deploy CTF platform, has an official docker container
            td Python
            td Free
        tr
            td PicoCTF Platform 2
            td
            td
                a(href='https://github.com/picoCTF/picoCTF-Platform-2') [Source]
            td CTF platform
            td Python
            td Free
        tr
            td PoliCTF Server
            td
            td
                a(href='https://github.com/PoliCTF/polictf-server') [Source]
            td CTF platform
            td Cplusplus
            td Free
        tr
            td RootTheBox
            td
                a(href='http://root-the-box.com/') [Website]
            td
                a(href='https://github.com/moloch--/RootTheBox') [Source]
            td CTF platform
            td Python
            td Free
        tr
            td Scorebot
            td
            td
                a(href='https://github.com/legitbs/scorebot') [Source]
            td CTF platform
            td Ruby
            td Free
        tr
            td SR-CTF
            td
                a(href='http://tunablectf.com/') [Website]
            td
                a(href='https://github.com/nsslab-yin/SRCTF') [Source]
            td CTF platform
            td Python
            td Free
        tr
            td Themis Quals
            td
            td
                a(href='https://github.com/themis-project/themis-quals') [Source]
            td CTF platform using Virtualbox and Vagrant
            td Ruby
            td Free
        tr
            td tinyctf-platform
            td
            td
                a(href='https://github.com/balidani/tinyctf-platform') [Source]
            td CTF platform
            td Python
            td Free
        tr
            td TJCTF platform
            td
            td
                a(href='https://github.com/TJCSec/ctf-platform') [Source]
            td CTF platform
            td Python
            td Free
