table.table#operating-systems-maintained
    thead
        tr
            th OS
            th Based on
            th Description
            th Link
    tbody
        tr
            td Alpine Linux
            td Independent
            td minimalist
            td
                a(href='http://www.alpinelinux.org/') Alpine Linux
        tr
            td AndroidTamer  
            td Debian
            td android malware analysis, penetration testing and reverse engineering
            td
                a(href='https://androidtamer.com/') AndroidTamer
        tr
            td ArchStrike
            td ArchLinux
            td penetration testing and security lab
            td
                a(href='https://archstrike.org/') ArchStrike
        tr
            td BackBox
            td Ubuntu
            td penetration testing and security lab
            td
                a(href='https://backbox.org/') BackBox
        tr
            td BlackArch Linux
            td ArchLinux
            td penetration testing and security lab
            td
                a(href='https://blackarch.org/') BlackArch Linux
        tr
            td Bugtraq-II Blackwidow
            td Ubuntu / Debian
            td penetration testing and security lab
            td
                a(href='http://www.bugtraq-team.com/project-blackwidow.html') Bugtraq-II Blackwidow
        tr
            td CAINE
            td Ubuntu
            td digital forensics
            td
                a(href='http://www.caine-live.net/') CAINE
        tr
            td Cyborg Essentials
            td Debian
            td penetration testing and security lab
            td
                a(href='http://cyborg.ztrela.com/cyborg-essentials/') Cyborg Essentials
        tr
            td Cyborg Hawk Linux
            td Ubuntu
            td penetration testing and security lab
            td
                a(href='http://cyborg.ztrela.com/cyborg-hawk/') Cyborg Hawk Linux
        tr
            td DEFT
            td Ubuntu
            td digital forensics
            td
                a(href='http://www.deftlinux.net/') DEFT
        tr
            td DracOS
            td Linux From Scratch
            td penetration testing and security lab
            td
                a(href='https://dracos-linux.org/') DracOS
        tr
            td Fedora Security Lab
            td Fedora
            td penetration testing and security lab
            td
                a(href='https://labs.fedoraproject.org/security/') Fedora Security Lab
        tr
            td Kali Linux
            td Debian
            td penetration testing and security lab
            td
                a(href='https://www.kali.org/') Kali Linux
        tr
            td Knoppix
            td Debian
            td penetration testing and security lab
            td
                a(href='http://knoppix.net/') Knoppix
        tr
            td Linux Kodachi
            td Debian
            td privacy and anonymity
            td
                a(href='https://www.digi77.com/linux-kodachi/') Linux Kodachi
        tr
            td Matriux
            td Debian
            td penetration testing and security lab
            td
                a(href='https://sourceforge.net/projects/matriux/') Matriux
        tr
            td NodeZero
            td Ubuntu
            td penetration testing and security lab
            td
                a(href='https://sourceforge.net/projects/nodezero/') NodeZero
        tr
            td NST
            td Fedora
            td network security monitoring and analysis
            td
                a(href='https://sourceforge.net/projects/nst/') NST
        tr
            td Parrot Security OS
            td Debian
            td penetration testing and security lab
            td
                a(href='https://www.parrotsec.org/') Parrot Security OS
        tr
            td Pentoo
            td Gentoo
            td penetration testing and security lab
            td
                a(href='http://www.pentoo.ch/') Pentoo
        tr
            td Qubes OS
            td Fedora
            td security by compartmentalization (VM)
            td
                a(href='https://www.qubes-os.org/') Qubes OS
        tr
            td REMnux
            td Debian
            td malware analysis and reverse-engineering
            td
                a(href='https://remnux.org/') REMnux
        tr
            td Security Onion
            td Ubuntu
            td network security monitoring and analysis
            td
                a(href='https://securityonion.net/') Security Onion
        tr
            td Subgraph OS
            td Debian
            td security by compartmentalization (container)
            td
                a(href='https://subgraph.com/sgos/index.en.html') Subgraph OS
        tr
            td Tails
            td Debian
            td privacy and anonymity
            td
                a(href='https://tails.boum.org/') Tails
        tr
            td TENS
            td Thinstation
            td privacy and anonymity
            td
                a(href='https://www.spi.dod.mil/lipose.htm') TENS
        tr
            td URIX OS
            td openSUSE
            td penetration testing and security lab
            td
                a(href='http://urix.us/') URIX OS
        tr
            td WEAKERTHAN Linux
            td Debian
            td penetration testing and security lab
            td
                a(href='http://www.weaknetlabs.com') WEAKERTHAN Linux
        tr
            td Whonix
            td Debian
            td privacy and anonymity
            td
                a(href='https://www.whonix.org/') Whonix
        tr
            td Wifislax
            td Slackware
            td penetration testing and security lab
            td
                a(href='http://www.wifislax.com/') Wifislax
