table.table#operating-systems-no-more-maintained
    thead
        tr
            th OS
            th Based on
            th Description
            th Link
    tbody
        tr
            td Blackbuntu
            td Ubuntu
            td penetration testing and security lab
            td
                a(href='https://sourceforge.net/projects/blackbuntu/') Blackbuntu
        tr
            td GnackTrack
            td Ubuntu
            td penetration testing and security lab
            td
                a(href='https://www.phillips321.co.uk/gnacktrack/') GnackTrack
        tr
            td Live Hacking
            td Ubuntu
            td penetration testing and security lab
            td
                a(href='http://www.livehacking.com/live-hacking-cd/') Live Hacking
        tr
            td STD
            td Debian
            td penetration testing and security lab
            td
                a(href='https://s-t-d.org/') STD
