table.table#operating-systems-project-transfered
    thead
        tr
            th From
            th To
    tbody
        tr
            td ArchAssault
            td BlackArch Linux
        tr
            td Backtrack
            td Kali Linux
