table.table#resources-trainings-and-courses
    thead
        tr
            th Name
            th Link
            th Description
            th Price
    tbody
        tr
            td Cybrary
            td
                a(href='https://www.cybrary.it/') [Website]
            td Cyber Security Learning, training and certification
            td Free
