table.table#resources-challenges-platforms
    thead
        tr
            th Name
            th Link
            th Description
            th Price
    tbody
        tr
            td µContest
            td
                a(href='http://www.microcontest.com/') [Website]
            td Programming challenges
            td Free
        tr
            td ae27ff
            td
                a(href='http://ae27ff.meme.tips/') [Website]
            td Challenge platform
            td Free
        tr
            td Backdoor
            td
                a(href='https://backdoor.sdslabs.co/') [Website]
            td Practice area with some past CTF challenges
            td Free
        tr
            td CanYouHack.It
            td 
                a(href='http://canyouhack.it/') [Website]
            td Challenge platform
            td Free
        tr
            td Challenge Land
            td 
                a(href='http://challengeland.co/') [Website]
            td Challenge platform
            td Free
        tr
            td CTFLearn
            td 
                a(href='https://ctflearn.com/') [Website]
            td Challenge platform
            td Free
        tr
            td Electrica
            td 
                a(href='http://www.caesum.com/game') [Website]
            td Programming, cryptography challenges
            td Free
        tr
            td EnigmaGroup
            td 
                a(href='http://www.enigmagroup.org/') [Website]
            td Challenge platform
            td Free
        tr
            td Exploit Exercises
            td 
                a(href='https://exploit-exercises.com/') [Website]
            td VMs, documentation and challenges
            td Free
        tr
            td Gekkó
            td 
                a(href='http://gekko.csokavar.hu/') [Website]
            td Challenge platform
            td Free
        tr
            td Graker
            td 
                a(href='http://gracker.org/') [Website]
            td Binary challenges having a slow learning curve, and write-ups for each level (SSH connection)
            td Free
        tr
            td Hack This Site
            td 
                a(href='https://www.hackthissite.org/') [Website]
            td Challenge platform and community
            td Free
        tr
            td HackBBS
            td 
                a(href='http://hackbbs.org/') [Website]
            td Challenge platform and community
            td Free
        tr
            td HackCenter
            td 
                a(href='https://hackcenter.com/') [Website]
            td Private challenge platforms
            td Free
        tr
            td Hacker Gateway
            td 
                a(href='https://www.hackergateway.com/') [Website]
            td Challenge platform
            td Free
        tr
            td Hacker.org
            td 
                a(href='http://www.hacker.org/') [Website]
            td Challenge platform
            td Free
        tr
            td Hacking Lab
            td 
                a(href='https://www.hacking-lab.com/') [Website]
            td Challenge platform with teachers and solutions
            td Free
        tr
            td HackThis!!
            td 
                a(href='https://www.hackthis.co.uk/') [Website]
            td Challenge platform
            td Free
        tr
            td IO
            td 
                a(href='http://io.netgarage.org/') [Website]
            td Binary challenges (SSH connection)
            td Free
        tr
            td LOST-Chall
            td 
                a(href='http://www.lost-chall.org/') [Website]
            td Challenge platform
            td Free
        tr
            td Mod-X
            td 
                a(href='http://www.mod-x.co.uk/') [Website]
            td Challenge platforms through a fictional game
            td Free
        tr
            td Net-Force
            td 
                a(href='http://www.net-force.nl/') [Website]
            td Challenge platform
            td Free
        tr
            td NewbieContest
            td 
                a(href='http://www.newbiecontest.org/') [Website]
            td Challenge platform
            td Free
        tr
            td Over The Wire
            td 
                a(href='http://overthewire.org/wargames/') [Website]
                a(href='https://github.com/OverTheWireOrg/OverTheWire-website') [Source]
            td Challenge platform
            td Free
        tr
            td Pwnable.kr
            td 
                a(href='http://pwnable.kr/') [Website]
            td Pwn challenges
            td Free
        tr
            td pwnable.tw
            td 
                a(href='https://pwnable.tw/') [Website]
            td Pwn challenges
            td Free
        tr
            td PwnerRank
            td 
                a(href='https://www.pwnerrank.com/') [Website]
            td Challenge platform
            td Free
        tr
            td Rankk
            td 
                a(href='http://www.rankk.org/') [Website]
            td Programming, cryptography challenges
            td Free
        tr
            td RedTigers Hackit
            td 
                a(href='https://redtiger.labs.overthewire.org/') [Website]
            td PHP / SQL challenge platform
            td Free
        tr
            td Reversing.Kr
            td
                a(href='http://reversing.kr/') [Website]
            td Cracking and Reverse Code Engineering challenge platform
            td Free
        tr
            td Revolution Elite
            td 
                a(href='https://sabrefilms.co.uk/revolutionelite') [Website]
            td Math and programming challenges
            td Free
        tr
            td Ringzer0Team
            td 
                a(href='https://ringzer0team.com/') [Website]
            td Challenge platform
            td Free
        tr
            td Root-me
            td 
                a(href='https://www.root-me.org') [Website]
            td Challenge platform
            td Free
        tr
            td RoseCode
            td 
                a(href='http://www.javaist.com/rosecode') [Website]
            td Challenge platform
            td Free
        tr
            td Security Traps
            td 
                a(href='http://www.securitytraps.pl/') [Website]
            td Challenge platform
            td Free
        tr
            td SmashTheStack
            td 
                a(href='http://smashthestack.org/') [Website]
            td Mostly binary challenges
            td Free
        tr
            td Solve Me
            td 
                a(href='http://solveme.kr/') [Website]
            td Challenge platform
            td Free
        tr
            td SPOJ
            td 
                a(href='http://www.spoj.com/') [Website]
            td Programming challenges
            td Free
        tr
            td Stereotyped Challenges
            td 
                a(href='https://chall.stypr.com/') [Website]
            td Web challenges
            td Free
        tr
            td Tasteless
            td 
                a(href='http://chall.tasteless.eu/') [Website]
            td Challenge platform
            td Free
        tr
            td TheBlackSheep
            td 
                a(href='http://www.bright-shadows.net/') [Website]
            td Challenge platform
            td Free
        tr
            td ThisisLegal.com
            td 
                a(href='http://www.thisislegal.com/') [Website]
            td Challenge platform
            td Free
        tr
            td TryThis0ne
            td 
                a(href='http://www.trythis0ne.com/') [Website]
            td Challenge platform
            td Free
        tr
            td Valhalla
            td 
                a(href='https://halls-of-valhalla.org/') [Website]
            td Challenge platform and community
            td Free
        tr
            td VulnHub
            td 
                a(href='https://www.vulnhub.com/') [Website]
            td VM-based challenges
            td Free
        tr
            td WebHacking
            td 
                a(href='http://webhacking.kr/') [Website]
            td Web challenges
            td Free
        tr
            td W3Challs
            td 
                a(href='https://w3challs.com/') [Website]
            td Challenge platform
            td Free
        tr
            td WeChall
            td 
                a(href='https://www.wechall.net/') [Website]
            td Challenge platform
            td Free
        tr
            td wixxerd
            td 
                a(href='http://www.wixxerd.com/') [Website]
            td Challenge platform
            td Free
        tr
            td yoire
            td 
                a(href='http://yoire.com') [Website]
            td Challenge platform
            td Free
        tr
            td Zenk-security
            td 
                a(href='https://www.zenk-security.com/') [Website]
            td Challenge platform and community
            td Free
