table.table#resources-cve
    thead
        tr
            th Name
            th Link
            th Description
            th Price
    tbody
        tr
            td CVE Details
            td
                a(href='http://www.cvedetails.com/') [Website]
            td
                Advanced CVE datasource
            td Free
