include ../mixins/resources_generic.pug
table.table#resources-knowledge-and-tools
    thead
        tr
            th Name
            th Link
            th Description
            th Price
    tbody
        each resource in resources_knowledge_and_tools.resources
            +resources_generic(resource)
