table.table#resources-events
    thead
        tr
            th Name
            th Link
            th Description
            th Price
    tbody
        tr
            td CTF TIME
            td
                a(href='https://ctftime.org/') [Website]
            td World CTF agenda
            td Free
