table.table#resources-events
    thead
        tr
            th Name
            th Link
            th Description
            th Country
            th Price
    tbody
        tr
            td CTF TIME
            td
                a(href='https://ctftime.org/') [Website]
            td World CTF agenda
            td Online
            td Free
        tr
            td DEF CON
            td
                a(href='https://www.defcon.org/') [Website]
            td Security contest: conferences, workshops and CTF
            td United States of America
            td Paid
        tr
            td FIC
            td
                a(href='https://www.forum-fic.com/') [Website]
            td Security contest: conferences, workshops and CTF
            td France
            td Paid
        tr
            td GreHack
            td
                a(href='https://grehack.fr/') [Website]
            td Security contest: conferences, workshops and CTF
            td France
            td Paid
        tr
            td Hack In Paris
            td
                a(href='https://hackinparis.com/') [Website]
            td Security conferences
            td France
            td Paid
        tr
            td Nuit Du Hack
            td
                a(href='https://nuitduhack.com/') [Website]
            td Security contest: conferences, workshops and CTF
            td France
            td Paid
        tr
            td SecurityCTF (reddit)
            td
                a(href='https://www.reddit.com/r/securityCTF/') [Website]
            td Community for security CTF announcements and writeups
            td Online
            td Free
        tr
            td SSTIC
            td
                a(href='https://www.sstic.org/') [Website]
            td Security conferences
            td France
            td Paid
