table.table#resources-cve
    thead
        tr
            th Name
            th Link
            th Description
            th Price
    tbody
        tr
            td Archlinux security issues
            td
                a(href='https://security.archlinux.org/') [Website]
            td CVE affecting Archlinux
            td Free
        tr
            td CVE Details
            td
                a(href='http://www.cvedetails.com/') [Website]
            td Advanced CVE datasource
            td Free
        tr
            td Debian security issues
            td
                a(href='https://security-tracker.debian.org/tracker/') [Website]
            td CVE affecting Debian
            td Free
        tr
            td Mitre
            td
                a(href='https://cve.mitre.org/') [Website]
            td CVE datasource standard
            td Free
        tr
            td NVD
            td
                a(href='https://nvd.nist.gov/') [Website]
            td CVE datasource
            td Free
        tr
            td Red Hat security issues
            td
                a(href='https://access.redhat.com/security/security-updates/') [Website]
            td CVE affecting Red Hat
            td Free
        tr
            td SUSE security issues
            td
                a(href='https://www.suse.com/security/cve/') [Website]
            td CVE affecting SUSE
            td Free
        tr
            td Ubuntu security issues
            td
                a(href='https://people.canonical.com/~ubuntu-security/cve/') [Website]
            td CVE affecting Ubuntu
            td Free
