ul
  li
    strong CTF Field Guide
    |  - 
    a(href='https://trailofbits.github.io/ctf/') [Website]
    a(href='https://github.com/trailofbits/ctf') [Source]
    |  - CTF guide
  li
    strong CTF Resources
    |  - 
    a(href='http://ctfs.github.io/resources/') [Website]
    a(href='https://github.com/ctfs/resources') [Source]
    |  - CTF guide
  li
    strong ISIS Lab Wiki
    |  - 
    a(href='https://github.com/isislab/Project-Ideas/wiki') [Website]
    |  - CTF guide
