table.table#resources-knowledge-and-tools
    thead
        tr
            th Name
            th Link
            th Description
            th Price
    tbody
        tr
            td ctf-tools
            td
                a(href='https://github.com/zardus/ctf-tools') [Source]
            td Setup scripts for security tools
            td Free
        tr
            td Forensics Wiki
            td
                a(href='http://forensicswiki.org/wiki/Main_Page') [Website]
            td Forensics tips and tools
            td Free
