ul
  li
    strong ctf-tools
    |  - 
    a(href='https://github.com/zardus/ctf-tools') [Source]
    |  - Setup scripts for security tools
  li
    strong Forensics Wiki
    |  - 
    a(href='http://forensicswiki.org/wiki/Main_Page') [Website]
    |  - Forensics tips and tools
