ul
  li
    strong µContest
    |  - 
    a(href='http://www.microcontest.com/') [Website]
    |  - Programming challenges
  li
    strong ae27ff
    |  - 
    a(href='http://ae27ff.meme.tips/') [Website]
    |  - Challenge platform
  li
    strong Backdoor
    |  - 
    a(href='https://backdoor.sdslabs.co/') [Website]
    |  - Practice area with some past CTF challenges
  li
    strong CanYouHack.It
    |  - 
    a(href='http://canyouhack.it/') [Website]
    |  - Challenge platform
  li
    strong Challenge Land
    |  - 
    a(href='http://challengeland.co/') [Website]
    |  - Challenge platform
  li
    strong CTFLearn
    |  - 
    a(href='https://ctflearn.com/') [Website]
    |  - Challenge platform
  li
    strong Electrica
    |  - 
    a(href='http://www.caesum.com/game') [Website]
    |  - Programming, cryptography challenges
  li
    strong EnigmaGroup
    |  - 
    a(href='http://www.enigmagroup.org/') [Website]
    |  - Challenge platform
  li
    strong Exploit Exercises
    |  - 
    a(href='https://exploit-exercises.com/') [Website]
    |  - VMs, documentation and challenges
  li
    strong Gekkó
    |  - 
    a(href='http://gekko.csokavar.hu/') [Website]
    |  - Challenge platform
  li
    strong Graker
    |  - 
    a(href='http://gracker.org/') [Website]
    |  - Binary challenges having a slow learning curve, and write-ups for each level (SSH connection)
  li
    strong Hack This Site
    |  - 
    a(href='https://www.hackthissite.org/') [Website]
    |  - Challenge platform and community
  li
    strong HackBBS
    |  - 
    a(href='http://hackbbs.org/') [Website]
    |  - Challenge platform and community
  li
    strong HackCenter
    |  - 
    a(href='https://hackcenter.com/') [Website]
    |  - Private challenge platforms
  li
    strong Hacker Gateway
    |  - 
    a(href='https://www.hackergateway.com/') [Website]
    |  - Challenge platform
  li
    strong Hacker.org
    |  - 
    a(href='http://www.hacker.org/') [Website]
    |  - Challenge platform
  li
    strong Hacking Lab
    |  - 
    a(href='https://www.hacking-lab.com/') [Website]
    |  - Challenge platform with teachers and solutions
  li
    strong HackThis!!
    |  - 
    a(href='https://www.hackthis.co.uk/') [Website]
    |  - Challenge platform
  li
    strong IO
    |  - 
    a(href='http://io.netgarage.org/') [Website]
    |  - Binary challenges (SSH connection)
  li
    strong LOST-Chall
    |  - 
    a(href='http://www.lost-chall.org/') [Website]
    |  - Challenge platform
  li
    strong Mod-X
    |  - 
    a(href='http://www.mod-x.co.uk/') [Website]
    |  - Challenge platforms through a fictional game
  li
    strong Net-Force
    |  - 
    a(href='http://www.net-force.nl/') [Website]
    |  - Challenge platform
  li
    strong NewbieContest
    |  - 
    a(href='http://www.newbiecontest.org/') [Website]
    |  - Challenge platform
  li
    strong Over The Wire
    |  - 
    a(href='http://overthewire.org/wargames/') [Website]
    a(href='https://github.com/OverTheWireOrg/OverTheWire-website') [Source]
    |  - Challenge platform
  li
    strong Pwnable.kr
    |  - 
    a(href='http://pwnable.kr/') [Website]
    |  - Pwn challenges
  li
    strong pwnable.tw
    |  - 
    a(href='https://pwnable.tw/') [Website]
    |  - Pwn challenges
  li
    strong PwnerRank
    |  - 
    a(href='https://www.pwnerrank.com/') [Website]
    |  - Challenge platform
  li
    strong Rankk
    |  - 
    a(href='http://www.rankk.org/') [Website]
    |  - Programming, cryptography challenges
  li
    strong RedTigers Hackit
    |  - 
    a(href='https://redtiger.labs.overthewire.org/') [Website]
    |  - PHP / SQL challenge platform
  li
    strong Reversing.Kr
    |   - 
    a(href='http://reversing.kr/') [Website]
    |  - Cracking and Reverse Code Engineering challenge platform
  li
    strong Revolution Elite
    |  - 
    a(href='https://sabrefilms.co.uk/revolutionelite') [Website]
    |  - Math and programming challenges
  li
    strong Ringzer0Team
    |  - 
    a(href='https://ringzer0team.com/') [Website]
    |  - Challenge platform
  li
    strong Root-me
    |  - 
    a(href='https://www.root-me.org') [Website]
    |  - Challenge platform
  li
    strong RoseCode
    |  - 
    a(href='http://www.javaist.com/rosecode') [Website]
    |  - Challenge platform
  li
    strong Security Traps
    |  - 
    a(href='http://www.securitytraps.pl/') [Website]
    |  - Challenge platform
  li
    strong SmashTheStack
    |  - 
    a(href='http://smashthestack.org/') [Website]
    |  - Mostly binary challenges
  li
    strong Solve Me
    |  - 
    a(href='http://solveme.kr/') [Website]
    |  - Challenge platform
  li
    strong SPOJ
    |  - 
    a(href='http://www.spoj.com/') [Website]
    |  - Programming challenges
  li
    strong Stereotyped Challenges
    |  - 
    a(href='https://chall.stypr.com/') [Website]
    |  - Web challenges
  li
    strong Tasteless
    |  - 
    a(href='http://chall.tasteless.eu/') [Website]
    |  - Challenge platform
  li
    strong TheBlackSheep
    |  - 
    a(href='http://www.bright-shadows.net/') [Website]
    |  - Challenge platform
  li
    strong ThisisLegal.com
    |  - 
    a(href='http://www.thisislegal.com/') [Website]
    |  - Challenge platform
  li
    strong TryThis0ne
    |  - 
    a(href='http://www.trythis0ne.com/') [Website]
    |  - Challenge platform
  li
    strong Valhalla
    |  - 
    a(href='https://halls-of-valhalla.org/') [Website]
    |  - Challenge platform and community
  li
    strong VulnHub
    |  - 
    a(href='https://www.vulnhub.com/') [Website]
    |  - VM-based challenges
  li
    strong WebHacking
    |  - 
    a(href='http://webhacking.kr/') [Website]
    |  - Web challenges
  li
    strong W3Challs
    |  - 
    a(href='https://w3challs.com/') [Website]
    |  - Challenge platform
  li
    strong WeChall
    |  - 
    a(href='https://www.wechall.net/') [Website]
    |  - Challenge platform
  li
    strong wixxerd
    |  - 
    a(href='http://www.wixxerd.com/') [Website]
    |  - Challenge platform
  li
    strong yoire
    |  - 
    a(href='http://yoire.com') [Website]
    |  - Challenge platform
  li
    strong Zenk-security
    |  - 
    a(href='https://www.zenk-security.com/') [Website]
    |  - Challenge platform and community
