ul
  li
    strong Bamboofox
    |  - Chinese - 
    a(href='https://bamboofox.torchpad.com/') [Website]
    |  - CTF guide
  li
    strong ctfs.me
    |  - Indonesian - 
    a(href='https://ctfs.me/') [Website]
    |  - Challenges platform, challenges are in english
  li
    strong elhacker.net
    |  - Spanish - 
    a(href='http://warzone.elhacker.net/') [Website]
    |  - Challenges platform
  li
    strong Hacking-Challenges
    |  - German - 
    a(href='http://www.hacking-challenges.de/') [Website]
    |  - Challenges platform
  li
    strong Happy-Security
    |  - German - 
    a(href='http://www.happy-security.de/') [Website]
    |  - Challenges platform
  li
    strong MIPT CTF
    |  - Russian - 
    a(href='https://github.com/xairy/mipt-ctf') [Source]
    |  - CTF guide
  li
    strong NOE
    |  - Korean - 
    a(href='http://noe.systems/') [Website]
    |  - Challenge platform
  li
    strong SuNiNaTaS
    |  - Korean - 
    a(href='http://suninatas.com/') [Website]
    |  - Challenge platform
  li
    strong TDHack
    |  - Polish - 
    a(href='http://www.tdhack.com/') [Website]
    |  - Challenge platform
  li
    strong World of Wargame
    |  - Spanish - 
    a(href='https://wow.sinfocol.org/') [Website]
    |  - Challenge platform
  li
    strong Yashira
    |  - Spanish - 
    a(href='http://www.yashira.org/') [Website]
    |  - Challenge platform
