ul
  li
    strong Captf
    |  - 
    a(href='http://captf.com/') [Website]
    |  - Dumped CTF challenges
  li
    strong CTFs write-ups
    |  - 
    a(href='https://github.com/ctfs/') [Source]
    |  - Write-ups archive
  li
    strong pwntools writeups
    |  - 
    a(href='https://github.com/Gallopsled/pwntools-write-ups') [Source]
    |  - Write-ups using pwntools archive
