ul
    li
        a(href='#title-tools') Tools
    ul
        li
            a(href='#title-tools-administration') Administration
        li
            a(href='#title-tools-binary-exploitation') Binary Exploitation
        li
            a(href='#title-tools-cracking') Cracking
        li
            a(href='#title-tools-cryptography') Cryptography
        li
            a(href='#title-tools-digital-forensics') Digital Forensics
        li
            a(href='#title-tools-networking') Networking
        li
            a(href='#tools-osint') OSINT
        li
            a(href='#title-tools-other') Other
        li
            a(href='#title-tools-reverse-enngineering') Reverse Enngineering
        li
            a(href='#title-tools-steganography') Steganography
        li
            a(href='#title-tools-system-exploitation') System Exploitation
        li
            a(href='#title-tools-web-application-exploitation') Web Application Exploitation
