table.table#tools-steganography
    thead
        tr
            th Name
            th Website
            th Source
            th Description
            th Programming language
            th Price
            th Online
    tbody
        tr
            td Audacity
            td
                a(href='http://www.audacityteam.org/') [Website]
            td
                a(href='https://sourceforge.net/projects/audacity/') [Source]
            td Tool to edit and analyze audio tracks
            td
            td Free
            td False
        tr
            td exif
            td
            td
                a(href='https://sourceforge.net/projects/libexif/files/exif/') [Source]
            td Shows EXIF information for JPEG files only
            td C
            td Free
            td False
        tr
            td ExifTool
            td
                a(href='http://www.sno.phy.queensu.ca/~phil/exiftool/') [Website]
            td
                a(href='https://sourceforge.net/projects/exiftool/') [Source]
            td Library and CLI tool to read and write meta information (EXIF, GPS, IPTC, XMP, JFIF, …) in files (JPEG, PNG, SVG, MPEG, …)
            td Perl
            td Free
            td False
        tr
            td Exiv2
            td
                a(href='http://www.exiv2.org/index.html') [Website]
            td
                a(href='https://github.com/Exiv2/exiv2') [Source]
            td Library and CLI tool to read and write meta information (Exif, IPTC & XMP metadata and ICC Profile) in images (JPEG, TIFF, PNG, …)
            td Cplusplus
            td Free
            td False
        tr
            td ImageMagick
            td
                a(href='http://www.imagemagick.org/script/index.php') [Website]
            td
                a(href='http://git.imagemagick.org/repos/ImageMagick') [Source]
            td Software suite and library to create, edit, compose, or convert images
            td C
            td Free
            td False
        tr
            td Outguess
            td
            td
            td Tool to hide messages in files (website down since 2004)
            td
            td Free
            td False
        tr
            td PNGtools
            td
                a(href='http://www.stillhq.com/pngtools/') [Website]
            td
                a(href='http://www.stillhq.com/svn/trunk/pngtools/') [Source]
            td Suite of tools to work with PNG images
            td C
            td Free
            td False
        tr
            td SmartDeblur
            td
            td
                a(href='https://github.com/Y-Vladimir/SmartDeblur') [Source]
            td To to restore defocused and blurred images (update binary only for Windows, Mac OS binary out of date)
            td Cplusplus
            td Free
            td False
        tr
            td Sonic Visualiser
            td
                a(href='http://www.sonicvisualiser.org/') [Website]
            td
                a(href='https://sourceforge.net/projects/sv1/') [Source]
            td Tool to edit and analyze audio tracks
            td
            td Free
            td False
        tr
            td Steganabara
            td
            td
                a(href='https://github.com/quangntenemy/Steganabara') [Source]
            td Steganography analysis tool
            td Java
            td Free
            td False
        tr
            td Steghide
            td
                a(href='http://steghide.sourceforge.net/index.php') [Website]
            td
                a(href='https://sourceforge.net/projects/steghide/') [Source]
            td Tool to hide messages in images
            td
            td Free
            td False
        tr
            td StegoVeritas
            td
            td
                a(href='https://github.com/Owlz/stegoVeritas') [Source]
            td Tool ton unhide data in images
            td Python
            td Free
            td False
        tr
            td StegSolve
            td
            td
            td GUI tool to analyse images (
                a(href='http://www.caesum.com/handbook/Stegsolve.jar') download
                | , there are no sources or website, just a .jar)
            td Java
            td Free
            td False
