include ../mixins/tool.pug
table.table#tools-reverse-enngineering
    thead
        tr
            th Name
            th Website
            th Source
            th Description
            th Programming language
            th Price
            th Online
    tbody
        each tool in tools_reverse_engineering.tools
            +tool(tool)
