table.table#tools-cracking
    thead
        tr
            th Name
            th Website
            th Source
            th Description
            th Programming language
            th Price
            th Online
    tbody
        tr
            td Aircrack-Ng
            td
                a(href='http://www.aircrack-ng.org/') [Website]
            td
            td Suite of tools to assess WiFi network security (cracking WEP and WPA PSK)
            td
            td Free
            td False
        tr
            td Hashcat
            td
                a(href='https://hashcat.net/hashcat/') [Website]
            td
                a(href='https://github.com/hashcat/hashcat') [Source]
            td Password cracking tool
            td C
            td Free
            td False
        tr
            td Hydra
            td
                a(href='https://www.thc.org/thc-hydra/') [Website]
            td
                a(href='https://github.com/vanhauser-thc/thc-hydra') [Source]
            td Network login cracker
            td C
            td Free
            td False
        tr
            td John The Ripper
            td
                a(href='http://www.openwall.com/john/') [Website]
            td
            td Password cracking tool
            td
            td Free
            td False
        tr
            td John the Ripper, Jumbo version
            td
                a(href='http://www.openwall.com/john/') [Website]
            td
                a(href='https://github.com/magnumripper/JohnTheRipper') [Source]
            td Password cracking tool, community-enhanced version of John The Ripper
            td C
            td Free
            td False
        tr
            td Medusa
            td
                a(href='http://foofus.net/goons/jmk/medusa/medusa.html') [Website]
            td
            td Network login cracker
            td
            td Free
            td False
        tr
            td Medusa-gui
            td
            td
                a(href='https://github.com/Tak31337/medusa-gui') [Source]
            td GUI for Medusa
            td Java
            td Free
            td False
        tr
            td Ncrack
            td
                a(href='https://nmap.org/ncrack/') [Website]
            td
                a(href='https://github.com/nmap/ncrack') [Source]
            td Network login cracker
            td Cplusplus
            td Free
            td False
        tr
            td Nozzlr
            td
            td
                a(href='https://github.com/intrd/nozzlr') [Source]
            td Bruteforce framework
            td Python
            td Free
            td False
        tr
            td Ophcrack
            td
                a(href='http://ophcrack.sourceforge.net/') [Website]
            td
                a(href='https://sourceforge.net/projects/ophcrack/') [Source]
            td Windows password cracker based on rainbow tables
            td
            td Free
            td False
        tr
            td Patator
            td
            td
                a(href='https://github.com/lanjelot/patator') [Source]
            td Multi-protocol bruteforce tool
            td Python
            td Free
            td False
