table.table#tools-cryptography
    thead
        tr
            th Name
            th Website
            th Source
            th Description
            th Programming language
            th Price
            th Online
    tbody
        tr
            td FeatherDuster
            td
            td
                a(href='https://github.com/nccgroup/featherduster') [Source]
            td Cryptanalysis tool and library
            td Python
            td Free
            td False
        tr
            td PkCrack
            td
                a(href='https://www.unix-ag.uni-kl.de/%7Econrad/krypto/pkcrack.html') [Website]
            td
            td Tool for breaking PkZip encryption
            td
            td Free
            td False
        tr
            td RSATool
            td
            td
                a(href='https://github.com/ius/rsatool') [Source]
            td Tool to calculate RSA parameters
            td Python
            td Free
            td False
        tr
            td XORTool
            td
            td
                a(href='https://github.com/hellman/xortool') [Source]
            td Tool to analyze multi-byte xor cipher
            td Python
            td Free
            td false
