table.table#tools-reverse-enngineering
    thead
        tr
            th Name
            th Website
            th Source
            th Description
            th Programming language
            th Price
            th Online
    tbody
        tr
            td AndroBugs Framework
            td
            td
                a(href='https://github.com/AndroBugs/AndroBugs_Framework') [Source]
            td Android APK vulnerability analyzer
            td Python
            td Free
            td False
        tr
            td androguard
            td
            td
                a(href='https://github.com/androguard/androguard') [Source]
            td Tool for reverse engineering and malware analysis of Android applications
            td Python
            td Free
            td False
        tr
            td angr
            td
            td
                a(href='https://github.com/angr/angr') [Source]
            td Platform-agnostic binary analysis framework
            td Python
            td Free
            td False
        tr
            td Apk2Gold
            td
            td
                a(href='https://github.com/lxdvs/apk2gold') [Source]
            td Android decompiler (wrapper for apktool, dex2jar, and jd-gui)
            td Shell
            td Free
            td False
        tr
            td Apktool
            td
                a(href='https://ibotpeaches.github.io/Apktool/') [Website]
            td
                a(href='https://github.com/iBotPeaches/Apktool') [Source]
            td Android Disassembler and rebuilder
            td Java
            td Free
            td False
        tr
            td Barf
            td
            td
                a(href='https://github.com/programa-stic/barf-project') [Source]
            td Binary Analysis and Reverse engineering Framework
            td Python
            td Free
            td False
        tr
            td Binary Ninja
            td
                a(href='https://binary.ninja/') [Website]
            td
            td Crossplatform binary analysis framework
            td Python
            td Paid
            td False
        tr
            td binutils
            td
                a(href='https://www.gnu.org/software/binutils/binutils.html') [Website]
            td
                a(href='http://sourceware.org/git/gitweb.cgi?p=binutils-gdb.git') [Source]
            td GNU collection of binary tools
            td C
            td Free
            td False
        tr
            td binwalk
            td
            td
                a(href='https://github.com/devttys0/binwalk') [Source]
            td Analyze, reverse engineer and extract firmware images (and other files, also usefull for Digital Forensics)
            td Python
            td Free
            td False
        tr
            td boomerang
            td
            td
                a(href='https://github.com/nemerle/boomerang') [Source]
            td x86 binaries to C decompiler
            td Cplusplus
            td Free
            td False
        tr
            td ctf_import
            td
                a(href='http://van.prooyen.com/projects/#ctfimport') [Website]
            td
                a(href='https://github.com/docileninja/ctf_import') [Source]
            td Run basic functions from stripped binaries cross
            td C
            td Free
            td False
        tr
            td CFF Explorer
            td
                a(href='http://www.ntcore.com/exsuite.php') [Website]
            td
            td PE Editor
            td
            td Free
            td False
        tr
            td GDB
            td
                a(href='https://www.gnu.org/software/gdb/') [Website]
            td
                a(href='http://sourceware.org/git/gitweb.cgi?p=binutils-gdb.git') [Source]
            td GNU debugger
            td Cplusplus
            td Free
            td False
        tr
            td GEF
            td
            td
                a(href='https://github.com/hugsy/gef') [Source]
            td GDB Enhanced Features, multi-architecture GDB plugin
            td Python
            td Free
            td False
        tr
            td Hopper
            td
                a(href='https://www.hopperapp.com/') [Website]
            td
            td Disassembler, decompiler and debugger
            td
            td Paid
            td False
        tr
            td IDA Pro
            td
                a(href='https://www.hex-rays.com/products/ida/') [Website]
            td
            td Disassembler and debugger
            td
            td Paid
            td False
        tr
            td jadx
            td
            td
                a(href='https://github.com/skylot/jadx') [Source]
            td DEX to Java decompiler
            td Java
            td Free
            td False
        tr
            td Java Decompilers
            td
                a(href='http://www.javadecompilers.com/') [Website]
            td
            td .JAR and .Class to Java decompiler
            td
            td Free
            td True
        tr
            td JEB
            td
                a(href='https://www.pnfsoftware.com/jeb2/') [Website]
            td
            td Disassembler, decompiler and debugger
            td
            td Paid
            td False
        tr
            td JSDetox
            td
                a(href='http://relentless-coding.org/projects/jsdetox/') [Website]
            td
                a(href='https://github.com/svent/jsdetox') [Source]
            td Javascript deobfustcator
            td Ruby
            td Free
            td False
        tr
            td Krakatau
            td
            td
                a(href='https://github.com/Storyyeller/Krakatau') [Source]
            td Java decompiler, assembler, and disassembler
            td Java
            td Free
            td False
        tr
            td MobSF
            td
            td
                a(href='https://github.com/MobSF/Mobile-Security-Framework-MobSF') [Source]
            td Android APK vulnerability analyzer
            td Python
            td Free
            td False
        tr
            td NodeJsScan
            td
            td
                a(href='https://github.com/ajinabraham/NodeJsScan') [Source]
            td Static security code scanner for Node.js applications
            td Python
            td Free
            td False
        tr
            td OllyDbg
            td
                a(href='http://www.ollydbg.de/') [Website]
            td
            td Windows debugger
            td
            td Free
            td False
        tr
            td PE Insider
            td
                a(href='http://cerbero.io/peinsider/') [Website]
            td
            td PE viewer, closed source and windows only
            td
            td Free
            td False
        tr
            td PEDA
            td
            td
                a(href='https://github.com/longld/peda') [Source]
            td Python Exploit Development Assistance, GDB plugin (only python2.7)
            td Python
            td Free
            td False
        tr
            td Plasma
            td
            td
                a(href='https://github.com/plasma-disassembler/plasma') [Source]
            td Disassembler
            td Python
            td Free
            td False
        tr
            td Pwndbg
            td
            td
                a(href='https://github.com/pwndbg/pwndbg') [Source]
            td GDB plugin
            td Python
            td Free
            td False
        tr
            td QARK
            td
            td
                a(href='https://github.com/linkedin/qark') [Source]
            td Android APK vulnerability analyzer
            td Python
            td Free
            td False
        tr
            td Qira
            td
                a(href='http://qira.me/') [Website]
            td
                a(href='https://github.com/BinaryAnalysisPlatform/qira') [Source]
            td Timeless debugger (QIRA = QEMU Interactive Runtime Analyser)
            td C
            td Free
            td False
        tr
            td RABCDAsm
            td
                a(href='http://blog.thecybershadow.net/2010/05/05/announcing-rabcdasm/') [Website]
            td
                a(href='https://github.com/CyberShadow/RABCDAsm') [Source]
            td ActionScript disassembler
            td D
            td Free
            td False
        tr
            td radare2
            td
                a(href='http://www.radare.org/r/') [Website]
            td
                a(href='https://github.com/radare/radare2') [Source]
            td Crossplatform binary analysis framework, disassembler, decompiler and debugger, support collaborative analysis
            td C
            td Free
            td False
        tr
            td strace
            td
            td
                a(href='https://sourceforge.net/projects/strace/') [Source]
            td Debugger for Linux
            td
            td Free
            td False
        tr
            td SUPER
            td
                a(href='http://superanalyzer.rocks/') [Website]
            td
                a(href='https://github.com/SUPERAndroidAnalyzer/super') [Source]
            td Android APK vulnerability analyzer
            td Rust
            td Free
            td False
        tr
            td Swftools
            td
                a(href='http://www.swftools.org/') [Website]
            td
                a(href='https://github.com/matthiaskramm/swftools') [Source]
            td Collection of utilities to work with SWF files
            td C
            td Free
            td False
        tr
            td Triton
            td
                a(href='https://triton.quarkslab.com/') [Website]
            td
                a(href='https://github.com/JonathanSalwan/Triton/') [Source]
            td Dynamic binary analysis framework, automate reverse engineering
            td Cplusplus
            td Free
            td False
        tr
            td UglifyJS2
            td
                a(href='https://www.npmjs.com/package/uglify-js') [Website]
            td
                a(href='https://github.com/mishoo/UglifyJS2') [Source]
            td JavaScript obfuscator or beautifier toolkit
            td JavaScript
            td Free
            td False
        tr
            td uncompyle
            td
            td
                a(href='https://github.com/gstarnberger/uncompyle') [Source]
            td Python 2.7 binaries (.pyc) decompiler
            td Python
            td Free
            td False
        tr
            td uncompyle6
            td
            td
                a(href='https://github.com/rocky/python-uncompyle6') [Source]
            td Python 1.5, 2.1 to 2.7, 3.1 to 3.6 binaries (.pyc) decompiler
            td Python
            td Free
            td False
        tr
            td WinDbg
            td
                a(href='http://www.windbg.org/') [Website]
            td
            td Windows debugger
            td
            td Free
            td False
        tr
            td xxxswf
            td
            td
                a(href='https://bitbucket.org/Alexander_Hanel/xxxswf/src') [Source]
            td Small script for carving, scanning, compressing, decompressing and analyzing SWF files
            td Python
            td Free
            td False
