table.table#tools-networking
    thead
        tr
            th Name
            th Website
            th Source
            th Description
            th Programming language
            th Price
            th Online
    tbody
        tr
            td bettercap
            td
                a(href='http://www.bettercap.org/') [Website]
            td
                a(href='https://github.com/evilsocket/bettercap') [Source]
            td MITM framework
            td Ruby
            td Free
            td False
        tr
            td Masscan
            td
            td
                a(href='https://github.com/robertdavidgraham/masscan') [Source]
            td Port scanner for massive networks
            td C
            td Free
            td False
        tr
            td NetworkMiner
            td
                a(href='http://www.netresec.com/?page=NetworkMiner') [Website]
            td
            td Network sniffer/packet capturing tool
            td
            td Free
            td False
        tr
            td Nipe
            td
            td
                a(href='https://github.com/GouveaHeitor/nipe') [Source]
            td Script to make TOR as default gateway
            td Perl
            td Free
            td False
        tr
            td Nmap
            td
                a(href='https://nmap.org/') [Website]
            td
                a(href='https://github.com/nmap/nmap') [Source]
            td Tool for network discovery and security auditing
            td C
            td Free
            td False
        tr
            td Wireshark
            td
                a(href='https://www.wireshark.org/') [Website]
            td
                a(href='https://code.wireshark.org/review/gitweb?p=wireshark.git') [Source]
            td Network protocol analyzer
            td Cplusplus
            td Free
            td False
        tr
            td yersinia
            td
            td
                a(href='https://github.com/tomac/yersinia') [Source]
            td Framework for layer 2 attacks
            td C
            td Free
            td False
        tr
            td Zenmap
            td
                a(href='https://nmap.org/zenmap/') [Website]
            td
                a(href='https://github.com/nmap/nmap/tree/master/zenmap') [Source]
            td GUI for Nmap
            td Python
            td Free
            td False
        tr
            td Zmap
            td
                a(href='https://zmap.io/') [Website]
            td
                a(href='https://github.com/zmap/zmap') [Source]
            td Collection of tools to scan and study massive networks
            td C
            td Free
            td False
