include ../../mixins/certification.pug
table.table#certifications-technical-offensive
    thead
        tr
            th Name
            th Acronym
            th Issuer
            th Description
            th Website
            th Price
    tbody
        each certification in certifications.technical_offensive.certifications
            +certification(certification)
