include ../../mixins/operating_system.pug
table.table#operating-systems-no-more-maintained
    thead
        tr
            th OS
            th Based on
            th Description
            th Link
    tbody
        each os in operating_systems.no_more_maintained.operating_systems
            +os(os)
