:root{
  --ifm-color-primary-lightest: #FFB4B4;
  --ifm-color-primary-lighter: #FF8282;
  --ifm-color-primary-light: #FF7272;
  --ifm-color-primary: #FF5050;
  --ifm-color-primary-dark: #FF2F2F;
  --ifm-color-primary-darker: #FF1E1E;
  --ifm-color-primary-darkest: #EB0000;
}
