extend layout/layout.pug

block content
    section.section
        .container
            .content
                h2.title.is-2#about About

                p This website is fully static and hosted on 
                    a(href='https://gitlab.com/noraj/rawsec-cybersecurity-list') GitLab.com
                    | .

                p CSS is powered by 
                    a(href='http://bulma.io') Bulma
                    |  and 
                    a(href='http://sass-lang.com/') Sass
                    | .

                p Filterable and sortable tables are powered by 
                    a(href='https://koalyptus.github.io/TableFilter/') TableFilter
                    | .

                p Basic icons are powered by 
                    a(href='http://fontawesome.io/') Font Awesome
                    | .

                p Programming languages and operating systems icons are powered by 
                    a(href='http://fizzed.com/oss/font-mfizz') Font Mfizz
                    | .

                p Pages and templates are powered by 
                    a(href='https://pugjs.org/') Pug
                    | .

                p Some JavaScript is powered by 
                    a(href='https://jquery.com/') jQuerry
                    | .

                p Build and workflow is powered by 
                    a(href='https://gulpjs.com/') Gulp
                    | .

                p JavaScript packages are powered by 
                    a(href='https://www.npmjs.com/') npm
                    | .

                p Content and additional code are provided by Alexandre ZANNI a.k.a 
                    a(href='https://rawsec.ml/about/noraj/') noraj
                    |  from 
                    a(href='https://rawsec.ml/') Rawsec
                    | .

                h2.title.is-2#badge Badge

                p Thanks to 
                    a(href='https://shields.io/') ShieldsIO
                    |  you can add a Rawsec badge to your inventoried git repository.
                p
                    a(href='http://list.rawsec.ml/')
                        img(alt="Rawsec's CyberSecurity Inventory" src='https://img.shields.io/badge/Rawsec-inventoried-FF5050.svg?logo=data%3Aimage%2Fpng%3Bbase64%2CiVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABmJLR0QA%2FwD%2FAP%2BgvaeTAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4QsBERwIK%2Bgo2wAAAOlJREFUKM%2B90jtLA1EQBeBv14CPQrC28y9obWGtKRIRf4CVIgFJ4z%2FQSqx9lDZC2M7eQrDU2sLSzgfBEMJ6baZYlvgoxANTzNxzzsy9d%2FhvZLjEOo5Tu32hLG9Bnu9kvV4DRzVNjusc%2BxiiM1MUj7iqmGZBrMY7mjkecAKDsrzB1g9TnuI1j2QXT1jIimJJlu2Fex19dOrFTST0U0oTqdXaCFKK%2BMDKV2PcB%2Bk88m5FeBd3HovZcB5gviacqz9tFW84wxTWMIr6AZ6%2FE8J2dGhEPsShMZ9ZxwircTaNJl5%2Bu1GTWMbin%2B%2FqJ9qfO5UF9pleAAAAAElFTkSuQmCC')
                p Markdown code (version with logo):
                    pre
                        code
                            | [![Rawsec's CyberSecurity Inventory](https://img.shields.io/badge/Rawsec-inventoried-FF5050.svg?logo=data%3Aimage%2Fpng%3Bbase64%2CiVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABmJLR0QA%2FwD%2FAP%2BgvaeTAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAB3RJTUUH4QsBERwIK%2Bgo2wAAAOlJREFUKM%2B90jtLA1EQBeBv14CPQrC28y9obWGtKRIRf4CVIgFJ4z%2FQSqx9lDZC2M7eQrDU2sLSzgfBEMJ6baZYlvgoxANTzNxzzsy9d%2FhvZLjEOo5Tu32hLG9Bnu9kvV4DRzVNjusc%2BxiiM1MUj7iqmGZBrMY7mjkecAKDsrzB1g9TnuI1j2QXT1jIimJJlu2Fex19dOrFTST0U0oTqdXaCFKK%2BMDKV2PcB%2Bk88m5FeBd3HovZcB5gviacqz9tFW84wxTWMIr6AZ6%2FE8J2dGhEPsShMZ9ZxwircTaNJl5%2Bu1GTWMbin%2B%2FqJ9qfO5UF9pleAAAAAElFTkSuQmCC)](http://list.rawsec.ml/)
                p
                    a(href='http://list.rawsec.ml/')
                        img(alt="Rawsec's CyberSecurity Inventory" src='https://img.shields.io/badge/Rawsec-inventoried-FF5050.svg')
                p Markdown code (version without logo):
                    pre
                        code
                            | [![Rawsec's CyberSecurity Inventory](https://img.shields.io/badge/Rawsec-inventoried-FF5050.svg)](http://list.rawsec.ml/)

block hero-foot
    .hero-foot
        nav.tabs.is-boxed.is-fullwidth
            .container
