extend layout/layout.pug

block content
    - var inventory = 'http://list.rawsec.ml/';
    section.section
        .container
            .content
                h2.title.is-2#about About

                p This website is fully static and hosted on 
                    a(href='https://gitlab.com/noraj/rawsec-cybersecurity-list') GitLab.com
                    | .

                p CSS is powered by 
                    a(href='http://bulma.io') Bulma
                    |  and 
                    a(href='http://sass-lang.com/') Sass
                    | .

                p Filterable and sortable tables are powered by 
                    a(href='https://koalyptus.github.io/TableFilter/') TableFilter
                    | .

                p Fancy popups are powered by 
                    a(href='https://sweetalert2.github.io/') SweetAlert2
                    | .

                p Basic icons are powered by 
                    a(href='http://fontawesome.io/') Font Awesome
                    | .

                p Programming languages and operating systems icons are powered by 
                    a(href='http://fizzed.com/oss/font-mfizz') Font Mfizz
                    | .

                p Pages and templates are powered by 
                    a(href='https://pugjs.org/') Pug
                    | .

                p Some JavaScript is powered by 
                    a(href='https://jquery.com/') jQuerry
                    | .

                p Build and workflow is powered by 
                    a(href='https://gulpjs.com/') Gulp
                    | .

                p JavaScript packages are powered by 
                    a(href='https://www.npmjs.com/') npm
                    | .

                p Content and additional code are provided by Alexandre ZANNI a.k.a 
                    a(href='https://rawsec.ml/about/noraj/') noraj
                    |  from 
                    a(href='https://rawsec.ml/') Rawsec
                    | .

                h2.title.is-2#contact Contact

                p Join us on 
                    a(href='https://discord.gg/Wspwv2h') discord
                        span.icon
                            i.fab.fa-discord
                    a(href='https://discord.gg/Wspwv2h')
                        img(alt='Rawsec discord server invite link' src='https://img.shields.io/discord/437247125508587540.svg?style=social')
                    | .

block hero-foot
    .hero-foot
        nav.tabs.is-boxed.is-fullwidth
            .container
