extend layout/layout.pug

block content
    section.section
    .container
        .content
            h1.title.is-1#contributing Contributing
            
            .notification.is-success
                p Welcome and thank you for wanting to contribute to this project.
                p Good news, contributing to this project (eg. adding a new tool or resource) is very easy!

            .notification.is-info
                p A step by step 
                    a(href='https://inventory.raw.pm/docs/docs/contribution_guidelines/add.html#a-step-by-step-guide-to-making-your-first-gitlab-contribution') guide
                    |  is available to help you if you are new to git / Gitlab / Github.
                p A 
                    a(href='https://inventory.raw.pm/docs/docs/contribution_guidelines/add.html#addingchanging-content') short paragraph
                    |  gives you the few format conventions and rules you have to respect to make a qualitative contribution.
                p In general a contribution adding a new tool is about 6 lines and take you less than 5 minutes end to end.

            .notification.is-link
                p Let's go! 
                    a(href='https://gitlab.com/-/ide/project/rawsec/rawsec-cybersecurity-list/tree/dev/-/data/') This link
                    |  will directly lead you to the web IDE open on the dev branch.
                p Here is 
                    a(href='https://gitlab.com/rawsec/rawsec-cybersecurity-list/-/merge_requests/253/diffs') an example
                    |  of what a contribution looks like.
                p Here is 
                    a(href='https://gitlab.com/rawsec/rawsec-cybersecurity-list/-/issues/?sort=created_date&state=opened&label_name%5B%5D=type%3A%3Anew%20content&first_page_size=20') a list
                    |  of tool to add if you have no inspiration.
                p Note: you don't even need a Gitlab account if you don't want to, you can log in with your Github, Google or Twitter account.

            h2.title.is-2#contributors Contributors

            p.has-text-weight-bold
                = contributors.author.description

            .field.is-grouped.is-grouped-multiline
                .control
                    span.tag.is-black
                        = contributors.author.name
                .control
                    a(href="https://gitlab.com/" + contributors.author.gitlab)
                        .tags.has-addons
                            span.tag.is-dark
                                = contributors.author.gitlab
                            span.tag.icon.is-primary
                                i.fab.fa-gitlab
                .control
                    a(href="https://twitter.com/" + contributors.author.twitter)
                        .tags.has-addons
                            span.tag.is-dark
                                = contributors.author.twitter
                            span.tag.icon.is-primary
                                i.fab.fa-twitter

            p.has-text-weight-bold
                = contributors.contributors.description
            
            each contributor in contributors.contributors.list
                .field.is-grouped.is-grouped-multiline
                    .control
                        span.tag.is-primary.is-light
                            = contributor.name
                    .control
                        a(href="https://gitlab.com/" + contributor.gitlab)
                            .tags.has-addons
                                span.tag.is-dark
                                    = contributor.gitlab
                                span.tag.icon.is-primary
                                    i.fab.fa-gitlab
                    if contributor.twitter
                        .control
                            a(href="https://twitter.com/" + contributor.twitter)
                                .tags.has-addons
                                    span.tag.is-dark
                                        = contributor.twitter
                                    span.tag.icon.is-primary
                                        i.fab.fa-twitter
