extend layout/search.pug

block content
    .container.has-text-centered
        .columns
            .column.is-half.is-offset-one-quarter
                figure.image.is-128x128.logo
                    img(src='https://inventory.raw.pm/docs/img/logo5_dark_355x286.png')
                .field
                    .control.has-icons-right
                        input.input.is-rounded.is-primary(placeholder="Search" onInput="searchInput(this.value)")
                        span.icon.is-right
                            i.fas.fa-search
        .columns.is-multiline#output
            //.column.is-one-quarter
                .card.card-equal-height
                    header.card-header
                        p.card-header-title Hashview
                    .card-content
                        .content
                            p Web-UI for managing, organizing, automating Hashcat commands/tasks
                            .field.is-grouped.is-grouped-multiline
                                .control
                                    .tags.has-addons
                                        .tag.is-dark Category
                                        .tag.is-danger Cracking
                                .control
                                    .tags.has-addons
                                        .tag.is-dark Language
                                        .tag.is-warning Ruby
                                .control
                                    .tags.has-addons
                                        .tag.is-dark Price
                                        .tag.is-info Free
                                .control
                                    .tags.has-addons
                                        .tag.is-dark Online
                                        .tag.is-success False
                                .control
                                    .tags.has-addons
                                        .tag.is-dark BlackArch
                                        .tag.is-black hashview
                                .control
                                    .tags.has-addons
                                        .tag.is-dark Review
                                        .tag.is-link link
                            p Keywords:
                            .tags
                                span.tag.is-primary GUI
                                span.tag.is-primary hashcat
                                span.tag.is-primary crack
                                span.tag.is-primary hash
                    footer.card-footer
                        a.card-footer-item(href="http://www.hashview.io/") Website
                        a.card-footer-item(href="https://github.com/hashview/hashview") Source

block optional-script
    // Search lib
    script(src='js/vendor/minisearch/index.js')
    // custom search
    script(src='js/search.js')

