extend layout/layout.pug

block content
    section.section
        .container
            h2.title.is-2 This list aims to help people to find everything related to CyberSecurity.

block hero-foot
    .hero-foot
        nav.tabs.is-boxed.is-fullwidth
            .container
                ul
                    li.is-active
                        a(href='index.html') Overview
                    li
                        a(href='tools.html') Tools
                    li
                        a(href='ressources.html') Resources
                    li
                        a(href='ctf_platforms.html') CTF platforms
                    li
                        a(href='operating_systems.html') Operating Systems
