extend layout/layout.pug

block content
    section.section
        .container
            .content
                // Table Of Contents
                include content/table_of_contents/resources.pug

                h2.title.is-2#title-resources Resources
            
                p Note: Paid resources may exist in a free limited version or a demo version
            
                h3.title.is-3#title-resources-cve CVE
                article
                    include content/resources/cve.pug
                    script(src='js/tablefilter/resources/cve.js')
                
                h3.title.is-3#title-resources-events Events
                article
                    include content/resources/events.pug
                    script(src='js/tablefilter/resources/events.js')
                
                h3.title.is-3#title-resources-information Information
                
                h3.title.is-3#title-resources-knowledge-and-tools Knowledge and tools
                article
                    include content/resources/knowledge_and_tools.pug
                    script(src='js/tablefilter/resources/knowledge_and_tools.js')
                
                h3.title.is-3#title-resources-challenges-platforms Challenges platforms
                article
                    include content/resources/challenges_platforms.pug
                    script(src='js/tablefilter/resources/challenges_platforms.js')
                
                h3.title.is-3#title-resources-non-english Non english
                article
                    include content/resources/non_english.pug
                    script(src='js/tablefilter/resources/non_english.js')
                
                h3.title.is-3#title-resources-trainings-and-courses Trainings and courses
                article
                    include content/resources/trainings_and_courses.pug
                    script(src='js/tablefilter/resources/trainings_and_courses.js')
                
                h3.title.is-3#title-resources-tutorials Tutorials
                article
                    include content/resources/tutorials.pug
                    script(src='js/tablefilter/resources/tutorials.js')

                h3.title.is-3#title-resources-writeups-collections-and-challenges-source Writeups collections and challenges source
                article
                    include content/resources/writeups_collections_and_challenges_source.pug
                    script(src='js/tablefilter/resources/writeups_collections_and_challenges_source.js')

block hero-foot
    .hero-foot
        nav.tabs.is-boxed.is-fullwidth
            .container
                ul
                    li
                        a(href='index.html') Overview
                    li
                        a(href='tools.html') Tools
                    li.is-active
                        a(href='resources.html') Resources
                    li
                        a(href='ctf_platforms.html') CTF platforms
                    li
                        a(href='operating_systems.html') Operating Systems

block font-mfizz
    // Apply font-mfizz class to elements when available (need to be loaded after the content)
    script(src='js/auto-font-mfizz.js')
