extend layout/layout.pug

block content
    section.section
        .container
            .content
                // Table Of Contents
                include content/table_of_contents/tools.pug

                h2.title.is-2#title-tools Tools
            
                p Note: Paid softwares may exist in a free limited version or a demo version

                h3.title.is-3#title-tools-binary-exploitation Binary Exploitation
                article
                    include content/tools/binary_exploitation.pug
                    script(src='js/tablefilter/tools/binary_exploitation.js')

                h3.title.is-3#title-tools-code-analysis Code Analysis
                article
                    include content/tools/code_analysis.pug
                    script(src='js/tablefilter/tools/code_analysis.js')

                h3.title.is-3#title-tools-collaboration-report Collaboration and Report
                article
                    include content/tools/collaboration_report.pug
                    script(src='js/tablefilter/tools/collaboration_report.js')

                h3.title.is-3#title-tools-cracking Cracking
                article
                    include content/tools/cracking.pug
                    script(src='js/tablefilter/tools/cracking.js')
                
                h3.title.is-3#title-tools-cryptography Cryptography
                article
                    include content/tools/cryptography.pug
                    script(src='js/tablefilter/tools/cryptography.js')
                
                h3.title.is-3#title-tools-digital-forensics Digital Forensics
                article
                    include content/tools/digital_forensics.pug
                    script(src='js/tablefilter/tools/digital_forensics.js')
                
                h3.title.is-3#title-tools-networking Networking
                article
                    include content/tools/networking.pug
                    script(src='js/tablefilter/tools/networking.js')
                
                h3.title.is-3#title-tools-osint OSINT and Reconnaissance
                article
                    include content/tools/osint.pug
                    script(src='js/tablefilter/tools/osint.js')
                
                h3.title.is-3#title-tools-other Other
                article
                    include content/tools/other.pug
                    script(src='js/tablefilter/tools/other.js')
                
                h3.title.is-3#title-tools-reverse-engineering Reverse Engineering
                article
                    include content/tools/reverse_engineering.pug
                    script(src='js/tablefilter/tools/reverse_engineering.js')
                
                h3.title.is-3#title-tools-steganography Steganography
                article
                    include content/tools/steganography.pug
                    script(src='js/tablefilter/tools/steganography.js')
                
                h3.title.is-3#title-tools-system-exploitation System Exploitation
                article
                    include content/tools/system_exploitation.pug
                    script(src='js/tablefilter/tools/system_exploitation.js')

                h3.title.is-3#title-tools-vulnerability-assessment Vulnerability Assessment
                article
                    include content/tools/vulnerability_assessment.pug
                    script(src='js/tablefilter/tools/vulnerability_assessment.js')

                h3.title.is-3#title-tools-web-application-exploitation Web Application Exploitation
                article
                    include content/tools/web_application_exploitation.pug
                    script(src='js/tablefilter/tools/web_application_exploitation.js')

block hero-foot
    .hero-foot
        nav.tabs.is-boxed.is-fullwidth
            .container
                ul
                    li
                        a(href='index.html') Overview
                    li.is-active
                        a(href='tools.html') Tools
                    li
                        a(href='resources.html') Resources
                    li
                        a(href='ctf_platforms.html') CTF platforms
                    li
                        a(href='operating_systems.html') Operating Systems

block font-mfizz
    // Apply font-mfizz class to elements when available (need to be loaded after the content)
    script(src='js/auto-font-mfizz.js')
