include ../../mixins/resources_events.pug
table.table#resources-events
    thead
        tr
            th Name
            th Link
            th Description
            th Country
            th Price
    tbody
        each resource in resources.events.resources
            +resources_events(resource)
