include ../../mixins/resources_generic.pug
table.table#resources-trainings-and-courses
    thead
        tr
            th Name
            th Website
            th Source
            th Description
            th Price
    tbody
        each resource in resources.trainings_and_courses.resources
            +resources_generic(resource)
