include ../../mixins/resources_generic.pug
table.table#resources-tutorials
    thead
        tr
            th Name
            th Website
            th Source
            th Description
            th Price
    tbody
        each resource in resources.tutorials.resources
            +resources_generic(resource)
