include ../../mixins/resources_generic.pug
table.table#resources-writeups-collections-and-challenges-source
    thead
        tr
            th Name
            th Link
            th Description
            th Price
    tbody
        each resource in resources.writeups_collections_and_challenges_source.resources
            +resources_generic(resource)
