include ../../mixins/tool.pug
table.table#tools-code-analysis
    thead
        tr
            th Name
            th Website
            th Source
            th Description
            th Programming language
            th Price
            th Online
    tbody
        each tool in tools.code_analysis.tools
            +tool(tool)
