include ../../mixins/tool.pug
table.table#tools-configuration-audit
    thead
        tr
            th Name
            th Website
            th Source
            th Description
            th Programming language
            th Price
            th Online
    tbody
        each tool in tools.configuration_audit.tools
            +tool(tool)
