include ../../mixins/tool.pug
table.table#tools-intentionally-vulnerable-applications
    thead
        tr
            th Name
            th Website
            th Source
            th Description
            th Programming language
            th Price
            th Online
    tbody
        each tool in tools.intentionally_vulnerable_applications.tools
            +tool(tool)
