include ../../mixins/tool.pug
table.table#tools-steganography
    thead
        tr
            th Name
            th Website
            th Source
            th Description
            th Programming language
            th Price
            th Online
    tbody
        each tool in tools.steganography.tools
            +tool(tool)
